
//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

div(ng-repeat="todo in todos")
  input(type="checkbox" ng-click="makeDone(todo.id)")
  span(ng-class="{'done': todo.done}") {{todo.description}}
  a(href="#" ng-click="removeTodoItem(todo.id)") remove
